# Task 1:

Q.2:

In [1]:
lst = []

In [2]:
for num in range(2000,3001):
    if num % 7 == 0 and num % 5 != 0:
        lst.append(num)
    else:
        continue

In [3]:
print(lst, sep = ',')

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996]

Q.3:

In [4]:
first_name = input('Enter your first name:')
last_name = input('Enter your last name:')

Enter your first name:Akshay
Enter your last name:Satpaise

In [5]:
print('{} {}'.format(last_name,first_name))

Satpaise Akshay

Q.4:

In [6]:
D = 12

In [7]:
r = D/2

In [8]:
pi = 3.14

In [9]:
volume = (4*pi*r*r*r)/3
volume

904.32

# Task 2

Q.1:

In [10]:
lst = input()

cricket

In [11]:
lst1 = lst.split(',')

In [12]:
lst1

['cricket']

Q.2:

In [13]:
for i in range(5):
    for j in range(i+1):
        print('*',end='')
    print('\n')
for i in range(5,1,-1):  
    for j in range(i-1):
        print('*',end='')
    print('\n')

*

**

***

****

*****

****

***

**

*

Q.3:

In [14]:
a = input()

basketball

In [15]:
a = list(a)

In [16]:
a.reverse()

In [17]:
b = ''.join(a)

In [18]:
b

'llabteksab'

Q.4:

In [19]:
print('WE, THE PEOPLE OF INDIA,\n\thaving solemnly resolved to constitute India into a SOVEREIGN,!\n\t\tSOCIALIST SECULAR DEMOCRATIC REPUBLIC\n\t\t and to secure to all its citizens')

WE, THE PEOPLE OF INDIA,
	having solemnly resolved to constitute India into a SOVEREIGN,!
		SOCIALIST SECULAR DEMOCRATIC REPUBLIC
		 and to secure to all its citizens